<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Lottery web app</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <h1>
    Welcome to {{ title }}!
  </h1>

  <div>
    <span>  Web application using Angular io ( angular material ) as front end and Java Struts as backend.</span>
  </div>
  <div>

    <div>
      <mat-card class="example-card">
        <mat-card-header class="card-bgcolor">
          <mat-card-title style="padding:5px;">Buy lottery</mat-card-title>
          <mat-card-subtitle>lottery form</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input matInput type="text" placeholder="Name" name="fname"  [formControl]="nameFormControl">
            <mat-error *ngIf="nameFormControl.hasError('required')">
       name is <strong>required</strong>
     </mat-error>


          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary" (click)="gotophp()">Submit</button>
        </mat-card-actions>
        <mat-card-footer>
          {{pressmessage}}
      </mat-card-footer>
      </mat-card>
    </div>
