<!--The content below is only a placeholder and can be replaced.-->
<script src="https://www.google.com/recaptcha/api.js?render=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></script>
<script>
  grecaptcha.ready(function() {
    console.log(" ready function grecaptcha");
    grecaptcha.execute('6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI', {action: 'homepage'}).then(function(token) {
      console.log("It worked");
    });
  });
</script>
<div style="text-align:center">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Lottery web app</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <h1>
    Welcome to {{ title }}!
  </h1>

  <div>
    <span>  Web application using Angular io ( angular material ) as front end and Java Struts as backend.</span>
  </div>
  <div>

    <div>
      <mat-card class="example-card">
        <mat-card-header class="card-bgcolor">
          <mat-card-title style="padding:5px;">Buy lottery</mat-card-title>
          <mat-card-subtitle>lottery form</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>

            <input matInput type="text" placeholder="Email" [formControl]="nameFormControl">
            <mat-error *ngIf="nameFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>

          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary" [disabled]=captchaDone (click)="gotophp()">Submit</button>
        </mat-card-actions>
        <mat-card-footer>
          <re-captcha (resolved)="resolved($event)" siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></re-captcha>
          {{pressmessage}}
        </mat-card-footer>
      </mat-card>
    </div>

    <!--purchased lottery -->
    <div style="padding-top:10px;">
      <mat-card class="example-card">
        <mat-card-header class="card-bgcolor">
          <mat-card-title style="padding:5px;">Purchased lottery</mat-card-title>
          <mat-card-subtitle>All lotteries</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
        <mat-card-footer>
          {{pressmessage}}
        </mat-card-footer>
      </mat-card>
    </div>
